# wildcards
.deps
.dirstamp
*.la
.libs
*.lo
*.o
*_test
# specific files
/autom4te.cache/
/benchmark
/config.h
/config.log
/config.status
/db_bench
/hyperleveldb.upack
/leveldbutil
/leveldb-verify
/libhyperleveldb.a
/libhyperleveldb.pc
/libtool
/Makefile
/Makefile.old
/stamp-h1
